[submodule "Vaults/ChallengeDash.com"]
	path = Vaults/ChallengeDash.com
	url = git@github.com:challengedash/vault.git
[submodule "Vaults/BasisAnalytics.com"]
	path = Vaults/BasisAnalytics.com
	url = git@github.com:BasisAnalytics/vault.git
[submodule "Vaults/CanopyJS.com"]
	path = Vaults/CanopyJS.com
	url = git@github.com:canopyjs/vault.git
[submodule "Vaults/CssGenerator.co"]
	path = Vaults/CssGenerator.co
	url = git@github.com:css-generator/vault.git
[submodule "vaults/CssGenerator.co"]
	path = Vaults/CssGenerator.co
	url = git@github.com:css-generator/vault.git
[submodule "vaults/DataWrangling.co"]
	path = Vaults/DataWrangling.co
	url = git@github.com:datawranglingco/vault.git
[submodule "vaults/HabitsOne.com"]
	path = Vaults/HabitsOne.com
	url = git@github.com:habitsone/vault.git
[submodule "vaults/MillionDollar.one"]
	path = Vaults/MillionDollar.one
	url = git@github.com:milliondollarone/vault.git
[submodule "vaults/MillionDollar.tube"]
	path = Vaults/MillionDollar.tube
	url = git@github.com:milliondollartube/vault.git
[submodule "vaults/SaaSBuilder.co"]
	path = Vaults/SaaSBuilder.co
	url = git@github.com:saas-builder/vault.git
[submodule "vaults/SaaSaurus.com"]
	path = Vaults/SaaSaurus.com
	url = git@github.com:saasaurus/vault.git
[submodule "vaults/AtomicSkill.co"]
	path = Vaults/AtomicSkill.co
	url = git@github.com:atomicskill/vault.git
[submodule "vaults/DataTheory.org"]
	path = Vaults/DataTheory.org
	url = git@github.com:datatheory/vault.git
[submodule "vaults/StartUpJr.co"]
	path = Vaults/StartUpJr.co
	url = git@github.com:startupjr/vault.git
[submodule "vaults/Indie.Science"]
	path = Vaults/Indie.Science
	url = git@github.com:indiescience/vault.git
[submodule "vaults/OneHour.Biz"]
	path = Vaults/OneHour.Biz
	url = git@github.com:onehourbiz/vault.git
[submodule "vaults/SelfSchool.org"]
	path = Vaults/SelfSchool.org
	url = git@github.com:selfschool/obsidian-vault.git
[submodule "vaults/ChallengeDash.com"]
	path = Vaults/ChallengeDash.com
	url = git@github.com:datakaiju/vault.git
[submodule "vaults/WTFoss.com"]
	path = Vaults/WTFoss.com
	url = git@github.com:wtfoss/vault.git
[submodule "vaults/Artset.io"]
	path = Vaults/Artset.io
	url = git@github.com:artsetio/vault.git
[submodule "vaults/BasisAnalytics.com"]
	path = Vaults/BasisAnalytics.com
	url = git@github.com:basisanalytics/vault.git
[submodule "vaults/FreeDataCamp.com"]
	path = Vaults/FreeDataCamp.com
	url = git@github.com:freedatacamp/vault.git
[submodule "vaults/GenerativeScience.com"]
	path = Vaults/GenerativeScience.com
	url = git@github.com:generative/vault.git
[submodule "vaults/FreelanceJoy.com"]
	path = Vaults/FreelanceJoy.com
	url = git@github.com:freelancejoy/vault.git
[submodule "vaults/MathClimb.com"]
	path = Vaults/MathClimb.com
	url = git@github.com:mathclimb/vault.git
[submodule "vaults/Hack.Degree"]
	path = Vaults/Hack.Degree
	url = git@github.com:hackdegree/vault.git
[submodule "vaults/Narratives.ai"]
	path = Vaults/Narratives.ai
	url = git@github.com:narrativesai/vault.git
[submodule "vaults/Frontend.School"]
	path = Vaults/Frontend.School
	url = git@github.com:frontenddotschool/vault.git
[submodule "vaults/ObsidianMastery.com"]
	path = Vaults/ObsidianMastery.com
	url = git@github.com:obsidianmastery/vault.git
[submodule "vaults/Gifted.School"]
	path = Vaults/Gifted.School
	url = git@github.com:giftedschool/vault.git
[submodule "vaults/Scramjet.io"]
	path = Vaults/Scramjet.io
	url = git@github.com:scramjetio/vault.git
[submodule "Organizer"]
	path = Organizer
	url = git@github.com:wporganizer/vault.git
[submodule "Vaults/DataKaiju.com"]
	path = Vaults/DataKaiju.com
	url = git@github.com:datakaiju/vault.git
[submodule "Courses/Stanford Machine Learning"]
	path = Courses/Stanford Machine Learning
	url = git@github.com:dylan-wu/course-stanford-machine-learning-coursera.git
[submodule "ObsidianMastery.com"]
	path = ObsidianMastery.com
	url = git@github.com:ObsidianMastery/vault.git
[submodule "Vaults/OwnYourLearning.co"]
	path = Vaults/OwnYourLearning.co
	url = git@github.com:OwnYourLearning/vault.git
